* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: start;
  max-width:400px;
  flex-wrap: wrap;
}

.square{
  width: 16px;
  height:16px;
  margin: 2px;
  box-sizing: 0 0 2px black;
  background:#1d1d1d;
  transition: 2.5s ease-out;
}

.square:hover{
  transition-duration: 00s;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}